@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
	font-family: "Montserrat", sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: rgb(73, 79, 82);
	color: white;
}

.nav-links {
	width: 50%;
	display: flex;
	margin-top: 5px;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
li {
	color: #fff !important;
	text-decoration: none !important;
}

/* Add Quiz CSS */
.formDiv {
	width: 80%;
}
.option {
	display: flex;
}
label {
	padding: 0px 10px;
}
#option1,
#option2,
#option3,
#option4 {
	width: 120px;
}
