@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
	font-family: "Montserrat", sans-serif;
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 10vh;
	background: rgb(73, 79, 82);
	color: white;
}

.nav-links {
	width: 50%;
	display: flex;
	margin-top: 5px;
	justify-content: space-around;
	align-items: center;
	list-style: none;
}
li {
	color: #fff !important;
	text-decoration: none !important;
}

.home {
	background-color: #ededed;
	display: flex;
	min-height: 100vh;
	width: 100%;
	margin: auto;
	padding: 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.questions {
	margin-top: 20px;
	text-align: center;
	background-color: #ededed;
	padding: 20px;
	border-left: 5px solid blue;
}

.options-container {
	display: inline-block;
	width: 30%;
}
.option {
	background-color: rgb(156, 156, 231);
	border-radius: 10px;
	margin: 10px 10px;
	padding: 2px;
	cursor: pointer;
	transition: 0.5s ease-in-out;
}
.option:hover {
	background-color: rgb(73, 73, 163);
	color: #fff;
}

.disable {
	background-color: #ccc;
	box-shadow: none;
	pointer-events: none;
}

.form-div {
	margin: 50px auto;
	background-color: #ededed;

	padding: 30px;
	width: 40%;
}

/***** QuizInstruction.js **********/

.btn-link {
	color: green !important;
	text-decoration: none !important;
}
.btn-link:hover {
	color: white !important;
}

/***** QuizInstruction.js *********/

/***** Result.js ********/
.list-group {
	margin: 0 auto;
	width: 50%;
}

/***** Result.js ********/

/***** AddQuiz.js ********/

.logout {
	margin-top: 1px;
	margin-right: 2px;
	position: absolute;
	top: 0;
	right: 0;
}

/***** AddQuiz.js ********/
